.ticker-tape-container {
  overflow-x: hidden;
  display: flex;
  padding-top: 10px;
}

.ticker-tape {
  display: flex;
  flex: 0 0 auto;
  margin: 0 auto;
}

.ticker-tape-scroll {
  margin-right: 1rem;
}

button:hover > div > .ticker-tape-scroll {
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.image-placeholder {
  aspect-ratio: 2 / 3;
  width: 100%;
  display: block;
  animation: loadPlaceholder 1s infinite ease-in-out;
  border-radius: 0.75rem;
}
